port=0

{%- for interface in dnsmasq.interfaces %}
interface={{interface}}
{%- endfor %}

{%- for range in dnsmasq.dhcp.ranges %}
dhcp-range={{range.start}},{{range.end}},{{dnsmasq.dhcp.subnet.netmask}},1m
{%- endfor %}

dhcp-option=option:router,{{dnsmasq.dhcp.gateway}}

dhcp-option=option:dns-server,{{dnsmasq.dhcp.dns | join(',')}}

log-dhcp

enable-tftp
tftp-root={{dnsmasq.tftp.root_dir}}

# === Tag machines (via set:<tag>) so dnsmasq can process them accordingly
{% for machine in machines %}
dhcp-mac=set:pxe-client-{{machine.client_type}},{{machine.mac_address}}
{% endfor -%}

{% for bootloader in dnsmasq.tftp.bootloaders %}
dhcp-boot=tag:pxe-client-{{bootloader.client_type}},{{bootloader.client_type}}/{{bootloader.source_url.split('/')[-1]}},{{dnsmasq.tftp.ip_address}},{{dnsmasq.tftp.ip_address}}
{% endfor -%}
