*.charm
*.egg-info
.coverage
.last-*
.pytest_cache
.python-version
.tox
__pycache__
build/
dist/
examples/_*
htmlcov
requirements.txt
requirements-dev.txt
venv
pyinfra-debug.log
group_data/*
!group_data/example-*.py
